.background {
  /* position: relative; */
}
.background video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* new-menu */
#new-menu {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  position: relative;
}
#new-menu h1 {
  font-size: 50px;
  font-family: var(--sub-title);
  color: var(--main);
  text-align: center;
  padding-top: 130px;
}
#new-menu > h1 > span {
  font-size: 22px;
  position: absolute;
  left: 45%;
  top: 18%;
  transform: skew(15deg, -15deg);
  color: var(--main);
}
#new-menu img {
  width: 400px;
  /* filter: drop-shadow(5px 5px 5px #777777); */
}
#new-menu ul {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
#new-menu ul li {
  position: relative;
  text-align: center;
  width: 420px;
}
#new-menu p {
  position: absolute;
  left: 50%;
  bottom: 10%;
  font-size: 20px;
  transform: translateX(-50%);
}
#new-menu > ul > li > span {
  display: none;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 102%;
  transform: translateX(-50%);
  font-size: 17px;
}
#new-menu ul li:hover img {
  animation: new-menu 0.9s;
  animation-fill-mode: forwards;
}
#new-menu ul li:hover p {
  font-family: var(--title);
  color: var(--main);
  bottom: 0%;
  font-size: 22px;
}
#new-menu ul li:hover span {
  display: block;
}

@keyframes new-menu {
  0% {
    transform: rotate(0deg) scale(1.2);
  }
  25% {
    transform: rotate(-10deg) scale(1.2);
  }
  50% {
    transform: rotate(10deg) scale(1.2);
  }
  75% {
    transform: rotate(-10deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1.2);
  }
}

/* best-menu */
#best-menu {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  background-image: url(../assert/best-menu/best-menu-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#best-menu::before {
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: var(--main);
  opacity: 0.8;
}
#best-menu h1 {
  font-size: 50px;
  font-family: var(--sub-title);
  color: var(--point);
  text-align: center;
  padding-top: 130px;
  position: relative;
}
#best-menu > h1 > span {
  font-size: 22px;
  position: absolute;
  left: 44%;
  top: 65%;
  transform: skew(15deg, -15deg);
  color: var(--point);
}
#best-menu img {
  width: 300px;
}
.swiper {
  width: 1600px;
  height: 600px;
}
.swiper-wrapper {
  padding-top: 120px;
}
.swiper-slide h3 {
  text-align: center;
  width: 300px;
  color: var(--white);
}
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--point);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--main) !important;
  margin: 0 50px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
.swiper-slide-active {
  transform: scale(1.5);
}

.swiper-slide-active h3 {
  transform: scale(1.3) translateY(-50%);
  font-family: var(--title);
  color: var(--point);
}
